.custom-picker {
  float: right;
  width: 35px;
  height: auto;
}

.custom-picker .emoji-menu-open {
  top: 50px;
  left: 0px;
  flex-wrap: wrap;
}

.custom-selection {
  display: flex;
  width: min-content;
}

.emoji-adder {
  display: inline;
}

.emoji {
  display: inherit;
}

.emoji-adder:hover #color > path {
  fill: #fcea2b;
}
